@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
html{
  scroll-behavior: smooth;
}
*{
  font-family:inter;
  margin: 0px;
  box-sizing: border-box;
}
span{
  font-weight: 800;
  font-size: 15px;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  width:screen;
  background-color: black;
  padding:12px;
  padding-right: 5%;
  box-shadow: 2px 2px 2px 2px yellowgreen;
}
.navbar-container a{
  padding-left: 40px;
}
.navbar-menu{
  display: block;
  padding-top: 6px;
}
.navbar-menu{
  display:flex;
}
.navbar-menu li{
  list-style-type: none;
}
.navbar-menu li a{
  text-decoration: none;
  color: white;
}
.navbar-menu li a:hover{
  color: yellow;
  transition-duration: 0.5s;
  font-weight:600;
}
.nav-logo img{
  width: 150px;
}
.screen-container{
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.468)),
    url('cookie.jpg');
  width: screen;
  height:100vh;
  background-size:cover;
}
.Nav-style{
  overflow: hidden;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.picture{
  padding-top: 200px;
}
.screen2-container{
  height: 60vh;
}
.flexer{
  display:flex;
  justify-content: space-around;
  padding-top:75px;
  flex-direction: row;
}
.services{
  width: 18%;
  text-align: justify;
  height:55vh;
}
.services button{
  width:100%;
  height: 10%;
  position:relative;
  bottom:px;
  border: none;
  background-color: rgb(255, 183, 0);
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}
.services button:hover{
  background-color: rgb(255, 145, 0);
  transition-duration: 300ms;
}
#about button{
  width:100%;
  height: 10%;
  position:relative;
  border: none;
  background-color: rgb(255, 183, 0);
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
}
.heading{
  text-align: center;
  padding: 20px;
}
.hell{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.screen3-container{
  padding-top: 100px;
  height: 100vh;
}
.screen4-container{
  background-color: rgb(66, 66, 66);
  height:50vh;
}
.detail{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.imager{
  padding-top:80px;
  width: 30%;
  height: auto;
}
.new{
  width: 50%;
}
.para{
  text-align: justify;
}
.new-line {
  white-space: pre-line;
}
.mainhead{
  text-align: center;
  color: white;
  position: relative;
  top:40%;
  font-size:80px;
  font-weight:900;
}
.mainhead2{
  text-align: center;
  color: rgb(255, 179, 0);
  position: relative;
  top:41%;
  font-size:25px;
}
.foot-top{
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 30px;
}
.left{
  display:flex;
  flex-direction: column;
  text-align:center;
  line-height:1.5;
}
.right{
  display:flex;
  flex-direction: column;
  text-align:center;
  line-height:1.5;
}
.lower{
  text-align: center;
  padding-top: 40px;
  color: white;
}
.icon-spot{
  padding:15px;
  width: 100%;
}
.icon-spot a{
  padding: 10px;
}
.screen5-container{
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}
.gal img{
  width: 20%;
  height: auto;
}
.screen5-container h2{
  text-align: center;
  padding:40px;
  font-size:35px;
}

@media only screen and (max-width: 600px) {
  .navbar-menu{
    display: none;
  }
  .mainhead{
    font-size:50px;
  }
  .services button{
    height: 50px;
    margin-top: 20px;
    position: relative;
  }
  .mainhead2{
    font-size:13px;
  }
  #about button{
    height: 50px;
    margin-top: 20px;
    position: relative;
  }
  .flexer{
    flex-direction:column;
    padding-left: 30px;
    
  }
  .screen2-container{
    height:auto;
  }
  .services{
    width: 90%;
    text-align: justify;
    padding-top:50px;
    height: 65vh;
  }
  .screen3-container{
    height: auto;
  }
  .detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .imager{
    padding-top:80px;
    width: 90%;
    height: auto;
    padding-left: 30px;
  }
  .new{
    width:90%;
    padding-left: 30px;
    padding-bottom: 40px;
  }
  .right{
    display:none
  }
  .Nav-style{
    overflow: hidden;
    z-index: 999;
    top: 0px;
    position: fixed;
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding:0px 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.mainhead,.mainhead2 {
  animation: 4s anim-mainhead ease-out ;
}

@keyframes anim-mainhead {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



.sidebar-container{
  color: white;
  width: 100%;
  height: 100vh;
  background-color:rgba(143, 109, 14, 0.858);
  text-align: center;
  font-size:40px;
  font-weight: 700;
  line-height: 15vh;
  padding-top:100px;
}
.sidebar-container li{
  list-style-type: none;
}
.sidebar-container a{
  color: white;
  text-decoration: none;
}
.sidebar-container{
  overflow: hidden;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index:888;
}